@import 'bootstrap/dist/css/bootstrap.min.css';

@media only screen and (min-width: 1080px) {
  html {
    font-size: 15px !important;
  }
}
@media only screen and (min-width: 1440px) {
  html {
    font-size: 25px !important;
  }
}

header {
  font-size: 2rem;
  text-align: center;
  top: 0;
  bottom: auto;
  width: 100%;
  height: 5%;
  margin-bottom: 50px;
}

#tooltip {
  position: absolute;
  text-align: center;
  background-color: rgba(250, 250, 250, 1);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 4px;
  color: black;
  z-index: 3;
  visibility: hidden;
  opacity: 0.8;
}

.title {
  font-size: 1rem;
  text-anchor: middle;
}

#Range {
  font-size: 0.8rem;
}

#team {
  top: 10%;
  height: 100%;
}

#container3 svg {
  width: 100%;
  height: 100%;
}

#button {
  width: 5%;
  height: 10%;
  overflow: hidden;
  float: left;
  left: 0%;
  top: 100%;
  position: absolute;
}

html,
body {
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
  font-size: 12px;
}

#xItem {
  position: absolute;
  left: 1%;
  top: 19%;
  font-size: 12px;
}

#xname {
  position: absolute;
  left: 0.7%;
  top: 25%;
  font-size: 12px;
}

#yItem {
  position: absolute;
  left: 1%;
  top: 26%;
  font-size: 12px;
}

#yname {
  position: absolute;
  left: 0.7%;
  top: 31%;
  font-size: 12px;
}

#tItem {
  position: absolute;
  left: 1%;
  top: 33%;
  font-size: 12px;
}

#tname {
  position: absolute;
  left: 0.7%;
  top: 37%;
  font-size: 12px;
}

#container {
  width: 65%;
  height: 90%;
  background-color: rgba(240, 240, 240, 0.9);
  overflow: hidden;
  border: 1px solid #ccc;
  float: left;
  left: 0%;
  top: 10%;
  position: absolute;
}

#container3 {
  width: 30%;
  height: 90%;
  background-color: rgba(240, 240, 240, 0.9);
  overflow: hidden;
  border: 1px solid #ccc;
  float: left;
  left: 65%;
  top: 10%;
  position: absolute;
}

.title {
  font-size: 1.5rem;
  text-anchor: middle;
}

.axis_label {
  font-size: 1rem;
  text-anchor: middle;
}

.point {
  fill: #1f77b4;
}

.domain {
  stroke: rgb(80, 80, 80);
  stroke-linecap: round;
  stroke-width: 0.13rem;
}

.tick line {
  stroke: rgb(80, 80, 80);
  stroke-linecap: round;
}
