@media only screen and (min-width: 1080px) {
  html {
    font-size: 15px !important;
  }
}
@media only screen and (min-width: 1440px) {
  html {
    font-size: 25px !important;
  }
}

#tooltip {
  position: absolute;
  text-align: center;
  background-color: rgba(250, 250, 250, 1);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 4px;
  color: black;
  z-index: 3;
  visibility: hidden;
  opacity: 0.8;
}

.title {
  font-size: 1rem;
  text-anchor: middle;
}

#Range {
  font-size: 0.8rem;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 12px;
  overflow: scroll;
}

#container {
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  overflow: scroll;
}
